@font-face {
  font-family: Arges;
  src: url(./fonts/660a6e508e705041d7cabcbf_Arges-Black.ttf);
}

@font-face {
  font-family: Arges2;
  src: url(./fonts/NGS6v5_NC0k9P9H2TbE.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-color: #050c0f;
  color: #fff;
}

:root{
    --primary-color: #ECE6D5;
}

#cursor{
    position: fixed;
    height: 20px;
    width: 20px;
    background-color: #c9a12d;
    border-radius: 50%;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1).7s;
    mix-blend-mode: difference;
    z-index: 99;
}

main{
  padding: 1.4vw 2vw;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Arges2;
  /* padding: 40px; */
}

nav p {
  font-size: 16px;
  font-weight: 100;
  color: var(--primary-color);
  opacity: .8;
  cursor: pointer;
  transition: all ease .5s;
}

nav .nav-link{
  display: flex;
  height: 20px;
  gap: 3px;
  overflow: hidden;
}

.nav-link:hover .nav-link-content p:nth-child(1){
  transform: translateY(-100%);
}

.nav-link:hover .nav-link-content p:nth-child(2){
  transform: translateY(-100%);
}


nav .nav-link p{
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease .5s;
}

.nav-link-content .p2{
  color: #000;
}

.nav-link p i {
  font-size: 20px;
}

.home-page .main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5vw;
  font-family: arges;
  margin-top: 11vw;
}

.main-text h3 {
  font-size: 1.2vw;
  letter-spacing: 10px;
  line-height: 1vw;
}

.main-text h1 {
  font-size: 12vw;
  line-height: 12vw;
  color: var(--primary-color);
  pointer-events: none;
}

.text-para {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 35vh;
  font-family: arges2;
  padding: 2vw;
}

.text-para p {
  width: 22%;
  font-size: 0.82vw;
  line-height: 1vw;
  color: var(--primary-color);
  opacity: .8;
}

.page2{
  height: 100vh;
}

.page2-content-wrapper{
  display: flex;
  height: 100%;
  width: 100%;
}

.box1-overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.521);
  z-index: 80;
}

.page2-content-wrapper .box{
  /* background-color: red; */
  position: relative;
  height: 90%;
  width: 34%;
  padding: .5vw;
  pointer-events: none;
  z-index: 5;
}

.page2-content-wrapper .box1, .box2{
  border: 1.2px solid #fff;
}

.page2-content-wrapper .box h1{
  font-family: arges;
}

.page2-content-wrapper .box p{
  font-family: arges2;
  color: var(--primary-color);
  opacity: .8;
}

.box .part1 h1{
  font-size: 7vw;
  line-height: 6vw;

}

.box .part2{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 100%;
  perspective: 1000px;
  /* background-color: red; */
}

.box .part2 img{
  position: relative;
  object-fit: cover;
    object-fit: cover;
    transform-style: preserve-3d;
    transform: rotateY(var(--rotateX)) rotateX(var(--rotateY));
    opacity: 0;
    transition: opacity ease .4s;
}

.box .part3{
  display: flex;
  justify-content: space-between;
}

.box .part3 h4{
  font-family: arges2;
  margin: 2px 0;
}



@media (max-width:375px), (max-width:425px) {
  #cursor{
    display: none;
  }

  .nav-link-content .p2{
    color: #fff;
  }

  nav {
    padding: 40px 10px;
  }

  .home-page .main-text {
    align-items: start;
    gap: 12vw;
    margin-top: 20vw;
    padding: 5vw;
  }
  

  .main-text h3 {
    font-size: 7vw;
    letter-spacing: 10px;
    line-height: 1vw;
  }
  
  .main-text h1 {
    font-size: 34vw;
    line-height: 29vw;
    color: var(--primary-color);
    pointer-events: none;
  }

  .text-para {
    height: 25vh;
    padding: 4vw;
  }
  
  .text-para p {
    width: 100%;
    font-size: 4.5vw;
    line-height: 7vw;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  #cursor{
    display: none;
  }
  .nav-link-content .p2{
    color: #fff;
  }
  .main-text h3 {
    font-size: 2.6vw;
    letter-spacing: 10px;
    margin-bottom: 8vw;
  }
  
  .main-text h1 {
    font-size: 18vw;
    line-height: 17vw;
    width: 70%;
    text-align: center;
  }
  
  .text-para {
    height: 30vh;
  }
  
  .text-para p {
    width: 52%;
    font-size: 2vw;
    line-height: 2vw;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .main-text h3 {
    font-size: 2.6vw;
    letter-spacing: 10px;
    margin-bottom: 2vw;
  }
  
  .main-text h1 {
    font-size: 14vw;
    line-height: 17vw;
    width: 100%;
    text-align: center;
  }
  
  .text-para {
    height: 40vh;
  }
  
  .text-para p {
    width: 48%;
    font-size: 1.6vw;
    line-height: 2vw;
  }
}